.employeeTable{
    max-width: 100%;
    border-radius: 5px;
    margin: 0px auto;
    float: none;
    border: violet;

}
table{
    margin-top: 20px;
    text-align: center;
padding: 50px 50px;
}
.clickMe:hover{
    color: rgb(32, 9, 243);
    background-color: rgb(240, 125, 116);
    padding: 5px 5px;
    border-radius: 10px;
}